.favoritesContainer {
    display: flex;
    flex-wrap: wrap; /* permite que las tarjetas se ajusten a varias filas si el espacio lo requiere */
    gap: 1rem; /* Espacio entre las tarjetas */
    justify-content: center; /* Centrar las tarjetas en la página */
    padding: 1rem;
  }
  
  /* Estilo de cada tarjeta en favoritos */
  .favoriteCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px; /* Limitar el ancho de las tarjetas para que se acomoden bien */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    background-color: #f9f9f9; /* Un color de fondo más suave */
  }
  
  /* Asegurarse de que las imágenes se ajusten bien */
  .favoriteCard img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: contain;
  }
  
  /* Estilo para el texto de la tarjeta de favoritos */
  .favoriteCard p {
    margin: 0.2rem 0; /* Márgenes pequeños entre los párrafos */
    font-size: 1rem;
  }
  
  /* Estilo de los títulos de las tarjetas de favoritos */
  .favoriteCard .titleCard {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: black;
  }
  
  /* Títulos de la sección de favoritos */
  .favoritesTitle, .favoritesSubtitle {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  /* Estilo de los botones dentro de las tarjetas */
  .favoriteCard button {
    display: block;
    margin: 1rem auto;
  }
  